In [1]:
import pandas as pd
import seaborn as sb
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df =  pd.read_csv("Space_Corrected.csv")
df

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [3]:
del df['Unnamed: 0']

In [4]:
del df['Unnamed: 0.1']

In [5]:
df

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [6]:
g = df.groupby('Status Mission')
g

In [7]:
for Status_Mission, SM_df in g:
    print(Status_Mission)
    print(SM_df)

Failure
      Company Name                                           Location  \
11          ExPace    Site 95, Jiuquan Satellite Launch Center, China
15      Rocket Lab    Rocket Lab LC-1A, M?hia Peninsula, New Zealand
27    Virgin Orbit  Cosmic Girl, Mojave Air and Space Port, Califo...
36            CASC       LC-2, Xichang Satellite Launch Center, China
43            CASC    LC-201, Wenchang Satellite Launch Center, China
...            ...                                                ...
4314       US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4315     RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan
4318          AMBA           LC-26A, Cape Canaveral AFS, Florida, USA
4319       US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4321       US Navy           LC-18A, Cape Canaveral AFS, Florida, USA

                           Datum                                       Detail  \
11    Fri Jul 10, 2020 04:17 UTC   Kuaizhou 11 | Jilin-1 02E, CentiSpace-1 S2
15    Sat Jul 04, 2020 21:19 UTC  Electron/Curie | Pics Or It Didn??¦t Happen
27    Mon May 25, 2020 19:50 UTC                    LauncherOne | Demo Flight
36    Thu Apr 09, 2020 11:46 UTC              Long March 3B/E | Nusantara Dua
43    Mon Mar 16, 2020 13:34 UTC                        Long March 7A | XJY-6
...                          ...                                          ...
4314  Mon Apr 28, 1958 02:53 UTC                      Vanguard | Vanguard TV5
4315  Sun Apr 27, 1958 09:01 UTC                  Sputnik 8A91 | Sputnik-3 #1
4318  Wed Mar 05, 1958 18:27 UTC                          Juno I | Explorer 2
4319  Wed Feb 05, 1958 07:33 UTC                    Vanguard | Vanguard TV3BU
4321  Fri Dec 06, 1957 16:44 UTC                      Vanguard | Vanguard TV3

      Status Rocket  Rocket Status Mission
11     StatusActive   28.3         Failure
15     StatusActive    7.5         Failure
27     StatusActive   12.0         Failure
36     StatusActive  29.15         Failure
43     StatusActive     NaN        Failure
...             ...     ...            ...
4314  StatusRetired     NaN        Failure
4315  StatusRetired     NaN        Failure
4318  StatusRetired     NaN        Failure
4319  StatusRetired     NaN        Failure
4321  StatusRetired     NaN        Failure

[339 rows x 7 columns]
Partial Failure
     Company Name                                           Location  \
127          Exos  Vertical Launch Area, Spaceport America, New M...
157          Exos  Vertical Launch Area, Spaceport America, New M...
219          Exos  Vertical Launch Area, Spaceport America, New M...
277   Arianespace  ELA-3, Guiana Space Centre, French Guiana, France
336     Roscosmos         Site 31/6, Baikonur Cosmodrome, Kazakhstan
...           ...                                                ...
4277      US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4280         NASA            LC-14, Cape Canaveral AFS, Florida, USA
4292    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan
4294         AMBA             LC-5, Cape Canaveral AFS, Florida, USA
4299         NASA          SLC-17A, Cape Canaveral AFS, Florida, USA

                           Datum  \
127   Sat Jun 29, 2019 18:00 UTC
157   Sat Mar 02, 2019 17:45 UTC
219   Sat Aug 25, 2018 18:15 UTC
277   Thu Jan 25, 2018 22:20 UTC
336   Fri Jul 14, 2017 06:36 UTC
...                          ...
4277  Fri Sep 18, 1959 05:20 UTC
4280  Wed Sep 09, 1959 08:19 UTC
4292  Fri Jan 02, 1959 16:41 UTC
4294  Sat Dec 06, 1958 05:44 UTC
4299  Sat Oct 11, 1958 08:42 UTC

                                             Detail  Status Rocket  Rocket  \
127                                SARGE | Launch 3   StatusActive     NaN
157                                SARGE | Launch 2   StatusActive     NaN
219                                SARGE | Launch 1   StatusActive     NaN
277           Ariane 5 ECA | SES-14/GOLD & Al Yah-3   StatusActive  200.0
336   Soyuz 2.1a/Fregat | Kanopus-V IK & Rideshares   StatusActive   48.5
...                                             ...            ...     ...
4277                          Vanguard | Vanguard 3  StatusRetired     NaN
4280                    Atlas-D Mercury | Big Joe 1  StatusRetired     NaN
4292                                Vostok | Luna-1  StatusRetired     NaN
4294                            Juno II | Pioneer 3  StatusRetired     NaN
4299                  Thor-DM 18 Able I | Pioneer 1  StatusRetired     NaN

       Status Mission
127   Partial Failure
157   Partial Failure
219   Partial Failure
277   Partial Failure
336   Partial Failure
...               ...
4277  Partial Failure
4280  Partial Failure
4292  Partial Failure
4294  Partial Failure
4299  Partial Failure

[102 rows x 7 columns]
Prelaunch Failure
     Company Name                                           Location  \
106           ISA  Imam Khomeini Spaceport, Semnan Space Center, ...
413        SpaceX           SLC-40, Cape Canaveral AFS, Florida, USA
1032          AEB  VLS Pad, Alc?›ntara Launch Center, Maranh?œo, ...
3816    RVSN USSR         Site 31/6, Baikonur Cosmodrome, Kazakhstan

                           Datum                     Detail  Status Rocket  \
106             Thu Aug 29, 2019        Safir-1B+ | Nahid-1   StatusActive
413   Thu Sep 01, 2016 13:07 UTC  Falcon 9 Block 3 | AMOS-6  StatusRetired
1032            Mon Aug 25, 2003      VLS-1 | SATEC, UNOSAT   StatusActive
3816  Wed Dec 14, 1966 11:27 UTC   Soyuz | Soyuz 7K-OK n†­1  StatusRetired

      Rocket     Status Mission
106      NaN  Prelaunch Failure
413    62.0   Prelaunch Failure
1032     NaN  Prelaunch Failure
3816     NaN  Prelaunch Failure
Success
     Company Name                                           Location  \
0          SpaceX         LC-39A, Kennedy Space Center, Florida, USA
1            CASC  Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...
2          SpaceX                      Pad A, Boca Chica, Texas, USA
3       Roscosmos       Site 200/39, Baikonur Cosmodrome, Kazakhstan
4             ULA           SLC-41, Cape Canaveral AFS, Florida, USA
...           ...                                                ...
4316         AMBA             LC-5, Cape Canaveral AFS, Florida, USA
4317      US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4320         AMBA           LC-26A, Cape Canaveral AFS, Florida, USA
4322    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan
4323    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan

                           Datum  \
0     Fri Aug 07, 2020 05:12 UTC
1     Thu Aug 06, 2020 04:01 UTC
2     Tue Aug 04, 2020 23:57 UTC
3     Thu Jul 30, 2020 21:25 UTC
4     Thu Jul 30, 2020 11:50 UTC
...                          ...
4316  Wed Mar 26, 1958 17:38 UTC
4317  Mon Mar 17, 1958 12:15 UTC
4320  Sat Feb 01, 1958 03:48 UTC
4322  Sun Nov 03, 1957 02:30 UTC
4323  Fri Oct 04, 1957 19:28 UTC

                                            Detail  Status Rocket  Rocket  \
0     Falcon 9 Block 5 | Starlink V1 L9 & BlackSky   StatusActive   50.0
1              Long March 2D | Gaofen-9 04 & Q-SAT   StatusActive  29.75
2               Starship Prototype | 150 Meter Hop   StatusActive     NaN
3     Proton-M/Briz-M | Ekspress-80 & Ekspress-103   StatusActive   65.0
4                       Atlas V 541 | Perseverance   StatusActive  145.0
...                                            ...            ...     ...
4316                           Juno I | Explorer 3  StatusRetired     NaN
4317                         Vanguard | Vanguard 1  StatusRetired     NaN
4320                           Juno I | Explorer 1  StatusRetired     NaN
4322                    Sputnik 8K71PS | Sputnik-2  StatusRetired     NaN
4323                    Sputnik 8K71PS | Sputnik-1  StatusRetired     NaN

     Status Mission
0           Success
1           Success
2           Success
3           Success
4           Success
...             ...
4316        Success
4317        Success
4320        Success
4322        Success
4323        Success

[3879 rows x 7 columns]

In [8]:
success_df = g.get_group('Success')
success_df

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...
4316,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA","Wed Mar 26, 1958 17:38 UTC",Juno I | Explorer 3,StatusRetired,NaN,Success
4317,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Mon Mar 17, 1958 12:15 UTC",Vanguard | Vanguard 1,StatusRetired,NaN,Success
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [9]:
failed_df = g.get_group("Failure")
failed_df

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
11,ExPace,"Site 95, Jiuquan Satellite Launch Center, China","Fri Jul 10, 2020 04:17 UTC","Kuaizhou 11 | Jilin-1 02E, CentiSpace-1 S2",StatusActive,28.3,Failure
15,Rocket Lab,"Rocket Lab LC-1A, M?hia Peninsula, New Zealand","Sat Jul 04, 2020 21:19 UTC",Electron/Curie | Pics Or It Didn??¦t Happen,StatusActive,7.5,Failure
27,Virgin Orbit,"Cosmic Girl, Mojave Air and Space Port, Califo...","Mon May 25, 2020 19:50 UTC",LauncherOne | Demo Flight,StatusActive,12.0,Failure
36,CASC,"LC-2, Xichang Satellite Launch Center, China","Thu Apr 09, 2020 11:46 UTC",Long March 3B/E | Nusantara Dua,StatusActive,29.15,Failure
43,CASC,"LC-201, Wenchang Satellite Launch Center, China","Mon Mar 16, 2020 13:34 UTC",Long March 7A | XJY-6,StatusActive,NaN,Failure
...,...,...,...,...,...,...,...
4314,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Mon Apr 28, 1958 02:53 UTC",Vanguard | Vanguard TV5,StatusRetired,NaN,Failure
4315,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Apr 27, 1958 09:01 UTC",Sputnik 8A91 | Sputnik-3 #1,StatusRetired,NaN,Failure
4318,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Wed Mar 05, 1958 18:27 UTC",Juno I | Explorer 2,StatusRetired,NaN,Failure
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure

In [10]:
new_df = success_df.groupby('Company Name')
new_df

In [11]:
for Comp_Name, CN_df in g:
    print(Comp_Name)
    print(CN_df)

Failure
      Company Name                                           Location  \
11          ExPace    Site 95, Jiuquan Satellite Launch Center, China
15      Rocket Lab    Rocket Lab LC-1A, M?hia Peninsula, New Zealand
27    Virgin Orbit  Cosmic Girl, Mojave Air and Space Port, Califo...
36            CASC       LC-2, Xichang Satellite Launch Center, China
43            CASC    LC-201, Wenchang Satellite Launch Center, China
...            ...                                                ...
4314       US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4315     RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan
4318          AMBA           LC-26A, Cape Canaveral AFS, Florida, USA
4319       US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4321       US Navy           LC-18A, Cape Canaveral AFS, Florida, USA

                           Datum                                       Detail  \
11    Fri Jul 10, 2020 04:17 UTC   Kuaizhou 11 | Jilin-1 02E, CentiSpace-1 S2
15    Sat Jul 04, 2020 21:19 UTC  Electron/Curie | Pics Or It Didn??¦t Happen
27    Mon May 25, 2020 19:50 UTC                    LauncherOne | Demo Flight
36    Thu Apr 09, 2020 11:46 UTC              Long March 3B/E | Nusantara Dua
43    Mon Mar 16, 2020 13:34 UTC                        Long March 7A | XJY-6
...                          ...                                          ...
4314  Mon Apr 28, 1958 02:53 UTC                      Vanguard | Vanguard TV5
4315  Sun Apr 27, 1958 09:01 UTC                  Sputnik 8A91 | Sputnik-3 #1
4318  Wed Mar 05, 1958 18:27 UTC                          Juno I | Explorer 2
4319  Wed Feb 05, 1958 07:33 UTC                    Vanguard | Vanguard TV3BU
4321  Fri Dec 06, 1957 16:44 UTC                      Vanguard | Vanguard TV3

      Status Rocket  Rocket Status Mission
11     StatusActive   28.3         Failure
15     StatusActive    7.5         Failure
27     StatusActive   12.0         Failure
36     StatusActive  29.15         Failure
43     StatusActive     NaN        Failure
...             ...     ...            ...
4314  StatusRetired     NaN        Failure
4315  StatusRetired     NaN        Failure
4318  StatusRetired     NaN        Failure
4319  StatusRetired     NaN        Failure
4321  StatusRetired     NaN        Failure

[339 rows x 7 columns]
Partial Failure
     Company Name                                           Location  \
127          Exos  Vertical Launch Area, Spaceport America, New M...
157          Exos  Vertical Launch Area, Spaceport America, New M...
219          Exos  Vertical Launch Area, Spaceport America, New M...
277   Arianespace  ELA-3, Guiana Space Centre, French Guiana, France
336     Roscosmos         Site 31/6, Baikonur Cosmodrome, Kazakhstan
...           ...                                                ...
4277      US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4280         NASA            LC-14, Cape Canaveral AFS, Florida, USA
4292    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan
4294         AMBA             LC-5, Cape Canaveral AFS, Florida, USA
4299         NASA          SLC-17A, Cape Canaveral AFS, Florida, USA

                           Datum  \
127   Sat Jun 29, 2019 18:00 UTC
157   Sat Mar 02, 2019 17:45 UTC
219   Sat Aug 25, 2018 18:15 UTC
277   Thu Jan 25, 2018 22:20 UTC
336   Fri Jul 14, 2017 06:36 UTC
...                          ...
4277  Fri Sep 18, 1959 05:20 UTC
4280  Wed Sep 09, 1959 08:19 UTC
4292  Fri Jan 02, 1959 16:41 UTC
4294  Sat Dec 06, 1958 05:44 UTC
4299  Sat Oct 11, 1958 08:42 UTC

                                             Detail  Status Rocket  Rocket  \
127                                SARGE | Launch 3   StatusActive     NaN
157                                SARGE | Launch 2   StatusActive     NaN
219                                SARGE | Launch 1   StatusActive     NaN
277           Ariane 5 ECA | SES-14/GOLD & Al Yah-3   StatusActive  200.0
336   Soyuz 2.1a/Fregat | Kanopus-V IK & Rideshares   StatusActive   48.5
...                                             ...            ...     ...
4277                          Vanguard | Vanguard 3  StatusRetired     NaN
4280                    Atlas-D Mercury | Big Joe 1  StatusRetired     NaN
4292                                Vostok | Luna-1  StatusRetired     NaN
4294                            Juno II | Pioneer 3  StatusRetired     NaN
4299                  Thor-DM 18 Able I | Pioneer 1  StatusRetired     NaN

       Status Mission
127   Partial Failure
157   Partial Failure
219   Partial Failure
277   Partial Failure
336   Partial Failure
...               ...
4277  Partial Failure
4280  Partial Failure
4292  Partial Failure
4294  Partial Failure
4299  Partial Failure

[102 rows x 7 columns]
Prelaunch Failure
     Company Name                                           Location  \
106           ISA  Imam Khomeini Spaceport, Semnan Space Center, ...
413        SpaceX           SLC-40, Cape Canaveral AFS, Florida, USA
1032          AEB  VLS Pad, Alc?›ntara Launch Center, Maranh?œo, ...
3816    RVSN USSR         Site 31/6, Baikonur Cosmodrome, Kazakhstan

                           Datum                     Detail  Status Rocket  \
106             Thu Aug 29, 2019        Safir-1B+ | Nahid-1   StatusActive
413   Thu Sep 01, 2016 13:07 UTC  Falcon 9 Block 3 | AMOS-6  StatusRetired
1032            Mon Aug 25, 2003      VLS-1 | SATEC, UNOSAT   StatusActive
3816  Wed Dec 14, 1966 11:27 UTC   Soyuz | Soyuz 7K-OK n†­1  StatusRetired

      Rocket     Status Mission
106      NaN  Prelaunch Failure
413    62.0   Prelaunch Failure
1032     NaN  Prelaunch Failure
3816     NaN  Prelaunch Failure
Success
     Company Name                                           Location  \
0          SpaceX         LC-39A, Kennedy Space Center, Florida, USA
1            CASC  Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...
2          SpaceX                      Pad A, Boca Chica, Texas, USA
3       Roscosmos       Site 200/39, Baikonur Cosmodrome, Kazakhstan
4             ULA           SLC-41, Cape Canaveral AFS, Florida, USA
...           ...                                                ...
4316         AMBA             LC-5, Cape Canaveral AFS, Florida, USA
4317      US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4320         AMBA           LC-26A, Cape Canaveral AFS, Florida, USA
4322    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan
4323    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan

                           Datum  \
0     Fri Aug 07, 2020 05:12 UTC
1     Thu Aug 06, 2020 04:01 UTC
2     Tue Aug 04, 2020 23:57 UTC
3     Thu Jul 30, 2020 21:25 UTC
4     Thu Jul 30, 2020 11:50 UTC
...                          ...
4316  Wed Mar 26, 1958 17:38 UTC
4317  Mon Mar 17, 1958 12:15 UTC
4320  Sat Feb 01, 1958 03:48 UTC
4322  Sun Nov 03, 1957 02:30 UTC
4323  Fri Oct 04, 1957 19:28 UTC

                                            Detail  Status Rocket  Rocket  \
0     Falcon 9 Block 5 | Starlink V1 L9 & BlackSky   StatusActive   50.0
1              Long March 2D | Gaofen-9 04 & Q-SAT   StatusActive  29.75
2               Starship Prototype | 150 Meter Hop   StatusActive     NaN
3     Proton-M/Briz-M | Ekspress-80 & Ekspress-103   StatusActive   65.0
4                       Atlas V 541 | Perseverance   StatusActive  145.0
...                                            ...            ...     ...
4316                           Juno I | Explorer 3  StatusRetired     NaN
4317                         Vanguard | Vanguard 1  StatusRetired     NaN
4320                           Juno I | Explorer 1  StatusRetired     NaN
4322                    Sputnik 8K71PS | Sputnik-2  StatusRetired     NaN
4323                    Sputnik 8K71PS | Sputnik-1  StatusRetired     NaN

     Status Mission
0           Success
1           Success
2           Success
3           Success
4           Success
...             ...
4316        Success
4317        Success
4320        Success
4322        Success
4323        Success

[3879 rows x 7 columns]

In [12]:
new_df = new_df.count()

In [13]:
new_fail_df = failed_df.groupby('Company Name')
new_fail_df

In [14]:
for Company_Name, name_df in g:
    print(Company_Name)
    print(name_df)

Failure
      Company Name                                           Location  \
11          ExPace    Site 95, Jiuquan Satellite Launch Center, China
15      Rocket Lab    Rocket Lab LC-1A, M?hia Peninsula, New Zealand
27    Virgin Orbit  Cosmic Girl, Mojave Air and Space Port, Califo...
36            CASC       LC-2, Xichang Satellite Launch Center, China
43            CASC    LC-201, Wenchang Satellite Launch Center, China
...            ...                                                ...
4314       US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4315     RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan
4318          AMBA           LC-26A, Cape Canaveral AFS, Florida, USA
4319       US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4321       US Navy           LC-18A, Cape Canaveral AFS, Florida, USA

                           Datum                                       Detail  \
11    Fri Jul 10, 2020 04:17 UTC   Kuaizhou 11 | Jilin-1 02E, CentiSpace-1 S2
15    Sat Jul 04, 2020 21:19 UTC  Electron/Curie | Pics Or It Didn??¦t Happen
27    Mon May 25, 2020 19:50 UTC                    LauncherOne | Demo Flight
36    Thu Apr 09, 2020 11:46 UTC              Long March 3B/E | Nusantara Dua
43    Mon Mar 16, 2020 13:34 UTC                        Long March 7A | XJY-6
...                          ...                                          ...
4314  Mon Apr 28, 1958 02:53 UTC                      Vanguard | Vanguard TV5
4315  Sun Apr 27, 1958 09:01 UTC                  Sputnik 8A91 | Sputnik-3 #1
4318  Wed Mar 05, 1958 18:27 UTC                          Juno I | Explorer 2
4319  Wed Feb 05, 1958 07:33 UTC                    Vanguard | Vanguard TV3BU
4321  Fri Dec 06, 1957 16:44 UTC                      Vanguard | Vanguard TV3

      Status Rocket  Rocket Status Mission
11     StatusActive   28.3         Failure
15     StatusActive    7.5         Failure
27     StatusActive   12.0         Failure
36     StatusActive  29.15         Failure
43     StatusActive     NaN        Failure
...             ...     ...            ...
4314  StatusRetired     NaN        Failure
4315  StatusRetired     NaN        Failure
4318  StatusRetired     NaN        Failure
4319  StatusRetired     NaN        Failure
4321  StatusRetired     NaN        Failure

[339 rows x 7 columns]
Partial Failure
     Company Name                                           Location  \
127          Exos  Vertical Launch Area, Spaceport America, New M...
157          Exos  Vertical Launch Area, Spaceport America, New M...
219          Exos  Vertical Launch Area, Spaceport America, New M...
277   Arianespace  ELA-3, Guiana Space Centre, French Guiana, France
336     Roscosmos         Site 31/6, Baikonur Cosmodrome, Kazakhstan
...           ...                                                ...
4277      US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4280         NASA            LC-14, Cape Canaveral AFS, Florida, USA
4292    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan
4294         AMBA             LC-5, Cape Canaveral AFS, Florida, USA
4299         NASA          SLC-17A, Cape Canaveral AFS, Florida, USA

                           Datum  \
127   Sat Jun 29, 2019 18:00 UTC
157   Sat Mar 02, 2019 17:45 UTC
219   Sat Aug 25, 2018 18:15 UTC
277   Thu Jan 25, 2018 22:20 UTC
336   Fri Jul 14, 2017 06:36 UTC
...                          ...
4277  Fri Sep 18, 1959 05:20 UTC
4280  Wed Sep 09, 1959 08:19 UTC
4292  Fri Jan 02, 1959 16:41 UTC
4294  Sat Dec 06, 1958 05:44 UTC
4299  Sat Oct 11, 1958 08:42 UTC

                                             Detail  Status Rocket  Rocket  \
127                                SARGE | Launch 3   StatusActive     NaN
157                                SARGE | Launch 2   StatusActive     NaN
219                                SARGE | Launch 1   StatusActive     NaN
277           Ariane 5 ECA | SES-14/GOLD & Al Yah-3   StatusActive  200.0
336   Soyuz 2.1a/Fregat | Kanopus-V IK & Rideshares   StatusActive   48.5
...                                             ...            ...     ...
4277                          Vanguard | Vanguard 3  StatusRetired     NaN
4280                    Atlas-D Mercury | Big Joe 1  StatusRetired     NaN
4292                                Vostok | Luna-1  StatusRetired     NaN
4294                            Juno II | Pioneer 3  StatusRetired     NaN
4299                  Thor-DM 18 Able I | Pioneer 1  StatusRetired     NaN

       Status Mission
127   Partial Failure
157   Partial Failure
219   Partial Failure
277   Partial Failure
336   Partial Failure
...               ...
4277  Partial Failure
4280  Partial Failure
4292  Partial Failure
4294  Partial Failure
4299  Partial Failure

[102 rows x 7 columns]
Prelaunch Failure
     Company Name                                           Location  \
106           ISA  Imam Khomeini Spaceport, Semnan Space Center, ...
413        SpaceX           SLC-40, Cape Canaveral AFS, Florida, USA
1032          AEB  VLS Pad, Alc?›ntara Launch Center, Maranh?œo, ...
3816    RVSN USSR         Site 31/6, Baikonur Cosmodrome, Kazakhstan

                           Datum                     Detail  Status Rocket  \
106             Thu Aug 29, 2019        Safir-1B+ | Nahid-1   StatusActive
413   Thu Sep 01, 2016 13:07 UTC  Falcon 9 Block 3 | AMOS-6  StatusRetired
1032            Mon Aug 25, 2003      VLS-1 | SATEC, UNOSAT   StatusActive
3816  Wed Dec 14, 1966 11:27 UTC   Soyuz | Soyuz 7K-OK n†­1  StatusRetired

      Rocket     Status Mission
106      NaN  Prelaunch Failure
413    62.0   Prelaunch Failure
1032     NaN  Prelaunch Failure
3816     NaN  Prelaunch Failure
Success
     Company Name                                           Location  \
0          SpaceX         LC-39A, Kennedy Space Center, Florida, USA
1            CASC  Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...
2          SpaceX                      Pad A, Boca Chica, Texas, USA
3       Roscosmos       Site 200/39, Baikonur Cosmodrome, Kazakhstan
4             ULA           SLC-41, Cape Canaveral AFS, Florida, USA
...           ...                                                ...
4316         AMBA             LC-5, Cape Canaveral AFS, Florida, USA
4317      US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4320         AMBA           LC-26A, Cape Canaveral AFS, Florida, USA
4322    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan
4323    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan

                           Datum  \
0     Fri Aug 07, 2020 05:12 UTC
1     Thu Aug 06, 2020 04:01 UTC
2     Tue Aug 04, 2020 23:57 UTC
3     Thu Jul 30, 2020 21:25 UTC
4     Thu Jul 30, 2020 11:50 UTC
...                          ...
4316  Wed Mar 26, 1958 17:38 UTC
4317  Mon Mar 17, 1958 12:15 UTC
4320  Sat Feb 01, 1958 03:48 UTC
4322  Sun Nov 03, 1957 02:30 UTC
4323  Fri Oct 04, 1957 19:28 UTC

                                            Detail  Status Rocket  Rocket  \
0     Falcon 9 Block 5 | Starlink V1 L9 & BlackSky   StatusActive   50.0
1              Long March 2D | Gaofen-9 04 & Q-SAT   StatusActive  29.75
2               Starship Prototype | 150 Meter Hop   StatusActive     NaN
3     Proton-M/Briz-M | Ekspress-80 & Ekspress-103   StatusActive   65.0
4                       Atlas V 541 | Perseverance   StatusActive  145.0
...                                            ...            ...     ...
4316                           Juno I | Explorer 3  StatusRetired     NaN
4317                         Vanguard | Vanguard 1  StatusRetired     NaN
4320                           Juno I | Explorer 1  StatusRetired     NaN
4322                    Sputnik 8K71PS | Sputnik-2  StatusRetired     NaN
4323                    Sputnik 8K71PS | Sputnik-1  StatusRetired     NaN

     Status Mission
0           Success
1           Success
2           Success
3           Success
4           Success
...             ...
4316        Success
4317        Success
4320        Success
4322        Success
4323        Success

[3879 rows x 7 columns]

In [15]:
new_fail_df = new_fail_df.count()
new_fail_df

,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
Company Name,,,,,,
AEB,2,2,2,2,0,2
AMBA,3,3,3,3,0,3
Arianespace,7,7,7,7,2,7
Boeing,3,3,3,3,0,3
CASC,14,14,14,14,3,14
CASIC,2,2,2,2,0,2
CECLES,3,3,3,3,0,3
CNES,2,2,2,2,0,2
EER,1,1,1,1,1,1
ESA,3,3,3,3,0,3
Eurockot,1,1,1,1,1,1
ExPace,1,1,1,1,1,1
Exos,1,1,1,1,0,1
General Dynamics,37,37,37,37,0,37
IAI,2,2,2,2,0,2
ISA,8,8,8,8,0,8
ISAS,3,3,3,3,0,3
ISRO,8,8,8,8,5,8
JAXA,1,1,1,1,0,1
KARI,2,2,2,2,0,2
KCST,3,3,3,3,0,3
Kosmotras,1,1,1,1,1,1
Landspace,1,1,1,1,0,1
Lockheed,5,5,5,5,0,5
MHI,2,2,2,2,0,2
MITT,1,1,1,1,0,1
Martin Marietta,11,11,11,11,2,11
NASA,11,11,11,11,2,11
Northrop,7,7,7,7,7,7
OneSpace,1,1,1,1,0,1
RAE,1,1,1,1,0,1
RVSN USSR,121,121,121,121,0,121
Rocket Lab,2,2,2,2,2,2
Roscosmos,3,3,3,3,0,3
SRC,1,1,1,1,0,1
Sandia,1,1,1,1,1,1
Sea Launch,3,3,3,3,0,3
SpaceX,4,4,4,4,4,4
US Air Force,30,30,30,30,2,30
US Navy,14,14,14,14,0,14
UT,4,4,4,4,0,4
VKS RF,7,7,7,7,1,7
Virgin Orbit,1,1,1,1,1,1

In [16]:
new_fail_df.to_csv("fail.csv")

In [17]:
new_df․to_csv("new.csv")

SyntaxError: invalid character in identifier (<ipython-input-17-edc6f1521e4e>, line 1)